@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @keyframes ken-burns {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(1.15);
        }
    }
    .animate-ken-burns {
        animation: ken-burns 20s ease-in-out infinite alternate;
    }
}
